.messageBox {
  background-color: gainsboro;
  max-width: 75%;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 0.8rem;
  display: inline-block;
  clear: both;
  font-family: "Roboto";
}

.right {
  float: right;
  background-color: #00a2f3;
  color: white;
}

.left {
  float: left;
  background-color: rgb(196, 255, 184);
}

@media only screen and (max-width: 400px) {
  .messageBox {
    padding: 0.5rem;
    font-size: 0.9rem;
    margin: 0.5rem;
  }
}
