.chatPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  background-color: white;
  width: 50%;
  height: 60%;
}

.header {
  background-color: #00a2f3;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  color: white;
  margin-left: 1.5rem;
}

.header img {
  color: white;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.header img:hover {
  transform: scale(1.2);
}

.chatBox {
  height: 70%;
  box-sizing: border-box;
  overflow: auto;
}

.inputBox {
  height: 15%;
  box-sizing: border-box;
  display: flex;
}

#chatInput {
  width: 80%;
  border: none;
  background-color: white;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top: 2px solid rgb(121, 120, 120);
}

.sendBtn {
  background-color: #00a2f3;
  color: white;
  border: none;
  width: 20%;
  cursor: pointer;
  transition: all 0.3s;
}

.sendBtn img {
  width: 2.5rem;
  filter: brightness(100) invert();
  transition: all 0.3s;
}

.sendBtn:hover {
  background-color: #0476af;
}

.sendBtn:hover img {
  transform: translateX(10px);
}
